<div class="fixed-action-btn" style="margin-bottom: 40px;margin-right: 50px;">
    <a href="/stories/add" class="btn-floating btn-large waves-effect waves-light red">
        <i class="fas fa-plus" ></i>
    </a>
</div>